<%= content_for(:sidebar) do %>
<%= render :partial => "layouts/sidebar" %>
<% end -%>
<div class="col-md-10 main">

	<div class="dashboard-main">
		<div class="dashboard-title">
			<h2>Dashboard</h2>
		</div>
		<div class="dashboard-content">
			<div class="dashboard-general">
				<h3>Welcome to Admin Panel</h3>
				<div>
					<ul class="dashboard-general-list">
						<li class="dashboard-general-item">
							<div style="display: inline-block;">
								<span class="dashboard-general-item-quan">5</span>
								<span style="font-weight: 500;font-size: 20px;">Total Products</span>
							</div>
							<div class="dashboard-general-item-icon"></div>
						</li>
						<li class="dashboard-general-item">
							<div style="display: inline-block;">
								<span class="dashboard-general-item-quan">5</span>
								<span style="font-weight: 500;font-size: 20px;">Total Products</span>
							</div>
							<div class="dashboard-general-item-icon"></div>
						</li>
						<li class="dashboard-general-item">
							<div style="display: inline-block;">
								<span class="dashboard-general-item-quan">5</span>
								<span style="font-weight: 500;font-size: 20px;">Total Products</span>
							</div>
							<div class="dashboard-general-item-icon"></div>
						</li>
						<li class="dashboard-general-item">
							<div style="display: inline-block;">
								<span class="dashboard-general-item-quan">5</span>
								<span style="font-weight: 500;font-size: 20px;">Total Products</span>
							</div>
							<div class="dashboard-general-item-icon"></div>
						</li>
					</ul>
				</div>
				<div>
					<ul class="dashboard-general-column">
						<li class="dashboard-general-column-sec">
							<div class="dashboard-general-column-title">
								<span style="font-size: 22px;font-weight: 400;">Leads</span>
								<span style="font-size:11px;margin-left: 5px">Lastest 5</span>
								<span style="float: right;margin-right: 40px;font-weight: 700;">^</span>
							</div>
							<div>
								<ul style="padding: 0;">
									<li class="dashboard-general-column-item">
										<div class="dashboard-general-column-item-date">
											<span style="font-weight:600; font-size: 27px;">15</span>
											<span>Mon</span>
										</div>
										<div class="dashboard-general-item-content">
											<span style="font-weight: 700">Sample Lead 8</span>
											<span>Phone: 012783712</span>
											<span>Email: sample8@gmail.com</span>
										</div>
									</li>
									<li class="dashboard-general-column-item">
										<div class="dashboard-general-column-item-date">
											<span style="font-weight:600; font-size: 27px;">15</span>
											<span>Mon</span>
										</div>
										<div class="dashboard-general-item-content">
											<span style="font-weight: 700">Sample Lead 8</span>
											<span>Phone: 012783712</span>
											<span>Email: sample8@gmail.com</span>
										</div>
									</li>
									<li class="dashboard-general-column-item">
										<div class="dashboard-general-column-item-date">
											<span style="font-weight:600; font-size: 27px;">15</span>
											<span>Mon</span>
										</div>
										<div class="dashboard-general-item-content">
											<span style="font-weight: 700">Sample Lead 8</span>
											<span>Phone: 012783712</span>
											<span>Email: sample8@gmail.com</span>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="dashboard-general-column-sec">
							<div class="dashboard-general-column-title">
								<span style="font-size: 22px;font-weight: 400;">Leads</span>
								<span style="font-size:11px;margin-left: 5px">Lastest 5</span>
								<span style="float: right;margin-right: 40px;font-weight: 700;">^</span>
							</div>
							<div>
								<ul style="padding: 0;">
									<li class="dashboard-general-column-item">
										<div class="dashboard-general-column-item-date">
											<span style="font-weight:600; font-size: 27px;">15</span>
											<span>Mon</span>
										</div>
										<div class="dashboard-general-item-content">
											<span style="font-weight: 700">Sample Lead 8</span>
											<span>Phone: 012783712</span>
											<span>Email: sample8@gmail.com</span>
										</div>
									</li>
									<li class="dashboard-general-column-item">
										<div class="dashboard-general-column-item-date">
											<span style="font-weight:600; font-size: 27px;">15</span>
											<span>Mon</span>
										</div>
										<div class="dashboard-general-item-content">
											<span style="font-weight: 700">Sample Lead 8</span>
											<span>Phone: 012783712</span>
											<span>Email: sample8@gmail.com</span>
										</div>
									</li>
									<li class="dashboard-general-column-item">
										<div class="dashboard-general-column-item-date">
											<span style="font-weight:600; font-size: 27px;">15</span>
											<span>Mon</span>
										</div>
										<div class="dashboard-general-item-content">
											<span style="font-weight: 700">Sample Lead 8</span>
											<span>Phone: 012783712</span>
											<span>Email: sample8@gmail.com</span>
										</div>
									</li>
								</ul>
							</div>
						</li>
						<li class="dashboard-general-column-sec">
							<div class="dashboard-general-column-title">
								<span style="font-size: 22px;font-weight: 400;">Leads</span>
								<span style="font-size:11px;margin-left: 5px">Lastest 5</span>
								<span style="float: right;margin-right: 40px;font-weight: 700;">^</span>
							</div>
							<div>
								<ul style="padding: 0;">
									<li class="dashboard-general-column-item">
										<div class="dashboard-general-column-item-date">
											<span style="font-weight:600; font-size: 27px;">15</span>
											<span>Mon</span>
										</div>
										<div class="dashboard-general-item-content">
											<span style="font-weight: 700">Sample Lead 8</span>
											<span>Phone: 012783712</span>
											<span>Email: sample8@gmail.com</span>
										</div>
									</li>
									<li class="dashboard-general-column-item">
										<div class="dashboard-general-column-item-date">
											<span style="font-weight:600; font-size: 27px;">15</span>
											<span>Mon</span>
										</div>
										<div class="dashboard-general-item-content">
											<span style="font-weight: 700">Sample Lead 8</span>
											<span>Phone: 012783712</span>
											<span>Email: sample8@gmail.com</span>
										</div>
									</li>
									<li class="dashboard-general-column-item">
										<div class="dashboard-general-column-item-date">
											<span style="font-weight:600; font-size: 27px;">15</span>
											<span>Mon</span>
										</div>
										<div class="dashboard-general-item-content">
											<span style="font-weight: 700">Sample Lead 8</span>
											<span>Phone: 012783712</span>
											<span>Email: sample8@gmail.com</span>
										</div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
