<%= content_for(:sidebar) do %>
	<%= render :partial => "layouts/sidebar" %>
<% end -%>

<div class="col-md-10 main">
	<div class="lead-p-main">
		<div class="lead-p-left">
			<div class="lead-bo">
				<div class="lead-p-center">

					<h5>IBM</h5>
					<center><img src="https://infofinance.vn/wp-content/uploads/2020/09/bieu-tuong-y-nghia-lo-go-cua-ngan-hang-quan-doi-MB-Bank...jpg" class="img-thumbnail" ></center>
					<p><i class="fas fa-phone-alt"></i> Phone:</p>
					<p><i class="fas fa-briefcase"></i> Email:</p>
					<div class="border-x"></div>


					<div class="d-grid gap-1"> <center>
						<button class="btn btn-secondary" type="button"><i class="fas fa-user"></i> Profile</button></center>
						<center><button class="btn btn-secondary" type="button"><i class="fas fa-briefcase"></i> Contacts</button></center>
						<center><button class="btn btn-secondary" type="button"><i class="fas fa-phone-alt"></i> Calls</button></center>
						<center><button class="btn btn-secondary" type="button"><i class="fas fa-car"></i> Apointments</button></center>
						<center><button class="btn btn-secondary" type="button"><i class="fas fa-sticky-note"></i> Notes</button></center>
						<center><button class="btn btn-secondary" type="button"><i class="fas fa-file-signature"></i> Proposals</button></center>
						<center><button class="btn btn-secondary" type="button"><i class="fas fa-file-invoice-dollar"></i> Invoices</button></center>
					</div>

				</div>
			</div>
		</div>
		<div class="lead-p-right">
			<div class="lead-bo-p">
				<div class="lead-p-center">
					<h5>Customer Details</h5>
					<div class="border-x"></div>
					<div class="table-f-bo">
						<table style="width:100%">
							<tr>
								<td style="width:20%">Name:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>Phone:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>Email:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>Website:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>Street:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>City:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>State:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>Zip Code:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>Country:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>Source:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>Assign To:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>Comment:</td>
								<td>....</td>
							</tr>
							<tr>
								<td>Status:</td>
								<td>....</td>
							</tr>

						</table>
					</div>
					
				</div>
			</div>
		</div>

	</div>
</div>