<%= content_for(:sidebar) do %>
	<%= render :partial => "layouts/sidebar" %>
<% end -%>
<div class="col-md-10 main">
	<div class="cata-main">
		<div class="cata-bo">
			<h4 style="margin-left: 30px;margin-top: 20px;">Add Product</h4>
			<div class="cata-border-add-x"></div>
			<center >
				<div class="width-add-p ">
					<div class="input-group mb-3">
						
						<p class="input-group">Category*</p>
						<select class="form-select form-select-sm" aria-label=".form-select-sm example">
							<option selected disabled>Select A Category</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</div>
					<div class="input-group mb-3">
						<p class="input-group">Name*</p>
						<input type="text" class="form-control" >
					</div>
					<div class="input-group mb-3">
						<p class="input-group">Description</p>
						<textarea ></textarea>
					</div>
					<div class="input-group mb-3">
						<p class="input-group">Price*</p>
						<input type="text" class="form-control" >
					</div>
					<div class="input-group mb-3">
						<p class="input-group">Currency*</p>
						<select class="form-select form-select-sm" aria-label=".form-select-sm example">
							<option selected disabled>Select A Currency</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</div>
					<div class="input-group mb-3">
						<p class="input-group">Tax</p>
						<select class="form-select form-select-sm" aria-label=".form-select-sm example">
							<option>No Tax</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
					</div>
					<div class="input-group mb-3">
						<p class="input-group">Status</p>
						<select class="form-select form-select-sm" aria-label=".form-select-sm example">
							<option value="1">Active</option>
							<option value="2">Inactive</option>
						</select>
					</div>
				</div>
			</center>
			<div style="padding-top: 8px;"></div>
			<div class="cata-border-add-x"></div>
			<div style="padding-left: 5%; padding-bottom: 20px;">
				<button type="button" class="btn btn-success btn-sm"> Save</button>
				<button type="button" class="btn btn-secondary btn-sm"> Close</button>				
			</div>
		</div>
	</div>
</div>